<!DOCTYPE html>
<html lang="en">
<head>
    <title>HISTORY / SECOND</title>
    <style>
        body {
            background: snow;
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: Arial, sans-serif;
        }
        header {
            color: crimson;
            padding: 50px;
            font-size: 50px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <header>
        HISTORY / SECOND
    </header>
    <img src="https://images.metmuseum.org/CRDImages/ad/web-large/ap66.142.jpg" alt="Museum artifact photo">
    <script>
        const image = document.querySelector('img');
        function fetchData() {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => image.src = data['url'])
                .catch(error => console.error(error));
        }
        setInterval(fetchData, 1000);
    </script>
</body>
</html>
